:root {
	--font-color1: #43f5ff;
	--font-color2: #23242a;
	--font-color3: #8f8f8f;
}
body {
	background-color: #23242a;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Mulish", sans-serif;
	font-family: "Poppins", sans-serif;
}
form {
	position: absolute;
	background-color: #28292d;
	z-index: 10;
	padding: 50px 40px;
	inset: 2px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}
.box {
	position: relative;
	width: 380px;
	height: 420px;
	background-color: #1c1c1c;
	padding: 50px 40px;
	overflow: hidden;
	border-radius: 8px;
}
.signup {
	height: 530px !important;
}
.box::after {
	content: "";
	position: absolute;
	animation: round 6s linear infinite;
	transform-origin: bottom right;
	background: linear-gradient(
		0deg,
		transparent,
		var(--font-color1),
		var(--font-color1)
	);
	width: 100%;
	height: 100%;
	top: -50%;
	left: -50%;
}
.box::before {
	content: "";
	position: absolute;
	animation: round 6s linear infinite;
	transform-origin: bottom right;
	background: linear-gradient(
		0deg,
		transparent,
		var(--font-color1),
		var(--font-color1)
	);
	width: 100%;
	height: 100%;
	top: -50%;
	left: -50%;
	animation-delay: -3s;
}
.title {
	text-align: center;
	color: var(--font-color1);
	font-weight: 500;
	letter-spacing: 0.1em;
}
@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1turn);
	}
}
.input-box {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 35px;
	width: 100%;
}
.input-box span {
	position: absolute;
	color: var(--font-color3);
	font-size: 1em;
	padding: 20px 10px 10px;
	left: 0;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
	transform: translateX(-10px);
}
.input-box input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--font-color2);
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 20;
}
.input-box input:focus ~ span,
.input-box input:valid ~ span {
	color: var(--font-color1);
	transform: translate(-10px, -34px);
	font-size: 0.75em;
}
.input-box i {
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--font-color1);
	transition: 0.5s;
	pointer-events: none;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
	height: 44px;
	z-index: 10;
}
ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 0;
}
ul li a {
	text-decoration: none;
	font-size: 0.75em;
	margin: 10px 0;
	transition: 0.3s ease-in-out;
	color: var(--font-color3);
}
ul li a:hover,
ul li:nth-child(2) a {
	color: var(--font-color1);
}
input[type="submit"] {
	width: 28%;
	height: 44px;
	background-color: var(--font-color1);
	color: var(--font-color2);
	border: none;
	border-radius: 3px;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.05;
	margin-top: 10px;
	cursor: pointer;
}
input[type="submit"]:active {
	opacity: 0.8;
}
